header{
    background-color: rgb(1, 46, 46);
    color: rgb(255, 221, 3);
    font-size: 200%;
    text-align: center;
    margin: 2%;
    padding: 2% 3%;
}

.box-container{
    display: flex;
    gap: 10px;
    margin: 15px;

}
.box{ 
    background-color: burlywood;
    flex:1;
    box-shadow: 2px 3px 10px rgb(92, 92, 92);
    border-color: black;
    padding: 10px;
}
.flex-button{
    text-align: center;
   
}
button{
    background-color: cornflowerblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.form-control{
    max-width: 60%;

}
footer{
    background-color: rgb(1, 46, 46);
    color: rgb(255, 221, 3);
    font-size: 100%;
    text-align: center;
    margin: 2%;
    padding: 1% 2%;
}

.zoom-in:hover{
    animation: zoom-in 500ms ease-out 0s forwards;
}
@keyframes zoom-in {
    from {
      transform: scale(1);
      opacity: 1;
    }
    to {
      transform: scale(1.1);
      opacity: 1;
    }
}
.form-container{
      font-family: monospace;
      max-width: 500px;
      font-size: large;
      margin: 80px auto;
      padding: 30px;
      background:rgb(155, 152, 152);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
}
label{
    width: 40%;
}
.responsive-btn{
    background-color:cornflowerblue;
}







@media screen and (min-width: 481px) and (max-width: 1024px) {
    body{
         
        background-color: rgb(255, 255, 255);
        margin: auto;
   }
    .box-container{
        padding: 5px 30px;
        display: grid;
        gap: 15px;
        grid-template-columns: auto;
    }
    .box{ 
        background-color: lightgoldenrodyellow;
        box-shadow: 3px 3px 12px gray;
        padding: 10px;
        border-radius: 10px;
    }
    button{
        font-size: 0.8rem;
        background-color: crimson;
   }
   .zoom-in:hover{
        animation: zoom-in 2s ease-out 0s forwards;
        box-shadow: 3px 3px 12px rgb(43, 43, 43);
   }
   @keyframes zoom-in {
    from {
      transform: scale(1);
      opacity: 1;
    }
    to {
      transform: scale(1.1);
      opacity: 1;
    }
}
.form-container{
      
      background: rgb(155, 152, 152);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
}
.responsive-btn {
    background-color:crimson;
  }
}





